<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>TunaOS wootc</vendor>
  <vendor_url>https://github.com/tuna-os/wootc</vendor_url>

  <action id="org.tunaos.wootc.convert-dir">
    <description>Move a Windows folder to Linux storage</description>
    <message>wootc wants to copy one of your Windows folders to Linux storage. Your Windows files are not changed or deleted.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/wootc-convert-dir</annotate>
  </action>

  <action id="org.tunaos.wootc.import">
    <description>Bring files and settings over from a Windows drive</description>
    <message>wootc wants to read a Windows drive (unlocking BitLocker if needed) and copy your files and settings to this PC. The Windows drive is opened read-only and is not changed.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/wootc-import</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
